.universe{
    margin-top: 20vh;
    margin-left:10vh;
    border-collapse: collapse;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.universe , td ,tr, th {
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    background: rgb(204, 201, 201);
}

.header{
    height: 60px;
    min-width: 50px;
    background: rgb(109, 101, 184);
}